* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*#77e6c6*/

#interface {
    background-color: #77e6c6;
    color: black;
    text-align: center;
}

